<!DOCTYPE html>
<html lang="fr" ng-app="symfonyAngularSeedApp">
	<head>
  		<meta charset="utf-8">
  		<title>SymfonyAngularSeed</title>
		{#   <link rel="stylesheet" href="{{ asset('bundles/frontend/css/app.css') }}"/>#}
		<style media="screen" type="text/css">
			.angular-google-map-container { position: absolute; top: 0; bottom: 0; right: 0; left: 0; }
		</style>
	</head>
	<body ng-controller="AppController">
  		<div ui-view=""></div>

  		<div>v<span app-version></span></div>

		<!-- build:js_vendor scripts/lib.js -->
		<script src="{{ asset('lib/jquery/dist/jquery.js') }}"></script>
  		<script src="{{ asset('lib/angular/angular.js') }}"></script>
  		<script src="{{ asset('lib/lodash/lodash.js') }}"></script>
  		<script src="{{ asset('lib/angular-cookies/angular-cookies.js') }}"></script>
  		<script src="{{ asset('lib/angular-resource/angular-resource.js') }}"></script>
  		<script src="{{ asset('lib/angular-animate/angular-animate.js') }}"></script>
  		<script src="{{ asset('lib/angular-bootstrap/ui-bootstrap.js') }}"></script>
  		<script src="{{ asset('lib/angular-ui-router/release/angular-ui-router.js') }}"></script>
  		<script src="{{ asset('lib/restangular/dist/restangular.js') }}"></script>
  		<script src="{{ asset('lib/angular-google-maps/dist/angular-google-maps.js') }}"></script>
		<!-- endbuild -->

		<!-- build:js_app scripts/app.js -->
		<!-- App -->
  		<script src="{{ asset('scripts/common/app.js') }}"></script>

  		<!-- Pages -->
  		<script src="{{ asset('scripts/home/home.ctrl.js') }}"></script>
  		<script src="{{ asset('scripts/home/home.mdl.js') }}"></script>

  		<script src="{{ asset('scripts/center/center.ctrl.js') }}"></script>
  		<script src="{{ asset('scripts/center/center.mdl.js') }}"></script>

  		<script src="{{ asset('scripts/poi/poi.ctrl.js') }}"></script>
  		<script src="{{ asset('scripts/poi/poi.mdl.js') }}"></script>
		<!-- endbuild -->

		{% if app.environment == 'dev' %}
    		<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
		{% endif %}
	</body>
</html>
